@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-estrelas.png) no-repeat top center fixed;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    background:  url(../imagens/frame-telefone.png) no-repeat;

    height: 627px;
    width: 316px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

iframe#home {
    position: absolute;

    top: 52px;
    left: 13px;

    height: 520px;
    width: 291px;
}

section#redes-sociais img {
    width: 70px;
    border-radius: 100%;
    margin: 20px;
}


